<div id="accordion">

  <% @cocktails.each_with_index do |cocktail, i| %>

  <div class="card">
    <div class="card-header d-flex" id="heading<%= i %>">
      <div class="cocktail_acc_img d-inline-block align-self-center" style="background-image: url(<%= cl_image_path cocktail.photo %>);" ></div>
      <h5 class="mb-0 d-inline-block align-self-center">
        <button class="btn btn-link text-left" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
          <span class="d-inline-block"><%= cocktail.name %>&nbsp</span><span class="d-inline-block">(<%= cocktail.doses.count %> ingredients)</span>
        </button>
      </h5>
    </div>
    <div id="collapse<%= i %>" class="collapse collapsed" aria-labelledby="heading<%= i %>" data-parent="#accordion">
      <div class="card-body">
        <!-- photo not being uploaded  -->


        <table class="table">
          <thead>
            <tr>
              <th scope="col">Ingredient</th>
              <th scope="col">Measure</th>
            </tr>
          </thead>
          <tbody>

            <% cocktail_ingredients = [] %>
            <% cocktail.doses.each do |dose| %>

            <% cocktail_ingredients << dose.ingredient %>

              <tr>
                <td><%= dose.ingredient.name %></td>
                <td><%= dose.description %></td>
              </tr>

            <% end %>

            <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
              + New ingredient
            </button>

            <div class="collapse mb-3" id="collapseExample2">
              <div class="card card-body">
                <%= simple_form_for [cocktail, @dose], html: { autocomplete: 'off' } do |f| %>
                  <%= f.association :ingredient, label: 'Ingredient name', collection: @ingredients - cocktail_ingredients %>
                  <%= f.input :description %>
                  <%= f.submit class: 'btn btn-primary' %>
                <% end %>
              </div>
            </div>

            <%#= render 'components/new_dose_dropdown' %>

          </tbody>
        </table>

        <div class="cocktail_acc_big_img d-inline-block" style="background-image: url(<%= cl_image_path cocktail.photo %>);" ></div>

      </div>
    </div>
  </div>

  <% end %>

</div>
